.title {
  padding-left: var(--padding);
  text-transform: uppercase;
  margin-bottom: 123px;
  font-family: var(--htag-font);
  font-size: 48px;
  font-weight: 500;
  line-height: 53px;

  @media screen and (max-width: 769px) {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 64px;
  }
}

.contentSection {
  padding-right: 6vw;
  padding-bottom: 160px;

  @media screen and (max-width: 769px) {
    padding: 0;
    margin-bottom: 24px;
  }
}

.leftPhotoSection,
.rightPhotoSection {
  display: flex;
  column-gap: 8vw;
  align-items: center;

  @media screen and (max-width: 769px) {
    padding: 0;
    flex-direction: column;
  }
}

.leftPhotoSection {

  @media screen and (max-width: 769px) {
    margin-bottom: 0;
  }
}

.text {
  font-size: 18px;
  line-height: 130%;
  margin-top: 12px;
  max-width: 600px;
  height: 100%;

  h1 {
    font-family: var(--htag-font);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;

    @media screen and (max-width: 769px) {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
    }
  }

  @media screen and (max-width: 769px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    text-align: center;
    p {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 56px;
    }

  }
}

.leftPhotoSection {
  .imgContainer {
    width: 45vw;
    height: 480px;
    margin-bottom: 100px;

    @media screen and (max-width: 1280px) {
      min-width: 42vw;
    }

    @media screen and (max-width: 769px) {
      margin-bottom: 40px;
      height: 370px;
      width: 100%;
    }
  }
}

.rightPhotoSection {
  padding-left: var(--padding);

  @media screen and (max-width: 769px) {
    padding-left: 0;
    flex-direction: column-reverse;
  }

  .imgContainer {
    width: 31vw;
    height: 411px;

    @media screen and (max-width: 1280px) {
      min-width: 42vw;
    }

    @media screen and (max-width: 769px) {
      height: 360px;
      width: 100%;
    }
  }
}

.imgContainer {
  overflow: hidden;
}
